<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^portfolio/public
    RewriteRule ^(.*)$ portfolio/public/$1 [L]
</IfModule>
